SFML-2.4.2-windows-vc14-32-bit/*
ProgramowanieRozproszoneKlient/Debug/*
ProgramowanieRozproszoneSerwer/Debug/*
ProgramowanieRozproszoneKlient/ProgramowanieRozproszoneKlient/Debug/*
ProgramowanieRozproszoneSerwer/ProgramowanieRozproszoneSerwer/Debug/*
ProgramowanieRozproszoneKlient/ProgramowanieRozproszoneKlient.VC.db
ProgramowanieRozproszoneKlient/.vs/*
ProgramowanieRozproszoneSerwer/.vs/*
ProgramowanieRozproszoneSerwer/ProgramowanieRozproszoneSerwer.VC.db
ProgramowanieRozproszoneSerwer/ProgramowanieRozproszoneSerwer.sln
ProgramowanieRozproszoneKlient/ProgramowanieRozproszoneKlient.VC.db
ProgramowanieRozproszoneKlient/ProgramowanieRozproszoneKlient.sln
ProgramowanieRozproszoneKlient/ProgramowanieRozproszoneKlient/ProgramowanieRozproszoneKlient.vcxproj
ProgramowanieRozproszoneKlient/ProgramowanieRozproszoneKlient/ProgramowanieRozproszoneKlient.vcxproj.filters

ProgramowanieRozproszoneSerwer/ProgramowanieRozproszoneSerwer/ProgramowanieRozproszoneSerwer.vcxproj
ProgramowanieRozproszoneSerwer/ProgramowanieRozproszoneSerwer/ProgramowanieRozproszoneSerwer.vcxproj.filters


SFML-2.4.2/*